{% include 'incl/header.twig' %}
<link rel="stylesheet" href="{{ theme_url }}/css/technology.css">

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <h1>{{ meta.title }}</h1>
        <div class="landingpage">
            {{ content }}
        </div>
    </div>

    <div class="container">

        {% if current_page.id starts with 'technology/sub/' %}
            {% set technology_pages = pages('technology/sub') %}
            {% if technology_pages %}
                <aside class="sidebar">
                    <ul>
                        {% for page in technology_pages if not page.hidden %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
        {% endif %}

        <!-- Content Section for sub pages-->
        {% if current_page.id starts with 'technology/sub/' %}
            <section class="content">
                {{ content }}  <!-- This will render content for the sub-pages like technology/sub/css.md -->
            </section>
        {% endif %}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
